<header>
<div>
    <img src="../../img/the_simpsons.png" alt="">
</div>

<div>
    <nav>

    <a href="/">homePage</a> 
    <a href="/favorite-quotes">favorite-quotes</a>  
    </nav>
</div>
</header>